/*====================================================*/
/*                       COLOR                        */
/*====================================================*/

.bandeau {background:  $color5; color: $color1;}

.bandeau .col-9 {color:  $color2;}

.txt {background: $color2; color: $color3;}

.txt h2 {color: $color5;}

.link, header, footer {background:$color4; color: $color3;}

.link .col-3 { background: $color6; color: $color1;}


/*====================================================*/
/*                       FONTS                        */
/*====================================================*/

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular/Montserrat-Regular.otf") format("otf"),
    	 url("./fonts/Montserrat-Regular/Montserrat-Regular.eot") format("eot"),
		 url("./fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff");
}
h1, h2, p, li,  {
	font-family: "Montserrat-Regular", sans-serif;
	font-weight:normal;
}


.bandeau .col-3 {text-align: center;}

.link .col-3 {text-align: center;}


.bandeau, .txt   {padding: 4rem;}

.link h2 {margin-top: $p-fz; text-align: center;}


[class*="col"] {padding-right: 0; padding-left: 0;}

img {width: 100%; height: 100%;}

/*====================================================*/
/*                      LAYOUT                        */
/*====================================================*/


/*====================================================*/
/*                       BOUTON                       */
/*====================================================*/



/*====================================================*/
/*                       HEADER                       */
/*====================================================*/

 li {display: inline-block; padding: $p-fz;}

/*====================================================*/
/*                        MAIN                        */
/*====================================================*/

h1 {font-size: $h2-fz*$ratio;}

h2 {font-size: $h3-fz*$ratio;}

p {font-size: $p-fz;}

.col-3 > p {font-size: $h2-fz*$ratio;}

/*====================================================*/
/*                       FOOTER                       */
/*====================================================*/

 li {display: inline-block;padding: $p-fz;}

 /******************************************************/
/*                      RESPONSIVE                     */
/******************************************************/
@media (min-width: $sm-screen-breack-point) {

	h1 {font-size: $h2-fz*$ratio/2;}

	h2 {font-size: $h3-fz*$ratio/2;}

	p, li {font-size: $p-fz/2;}

	.col-3 > p {font-size: $h2-fz*$ratio/2;}

	.link h2 {margin-top: $p-fz;}

	li {padding: $p-fz/2;}

	.bandeau, .txt   {padding: 2rem;}
	
	
}

@media (min-width:  $md-screen-breack-point) {

	h1 {font-size: $h2-fz*$ratio;}

	h2 {font-size: $h3-fz*$ratio;}

	p, li {font-size: $p-fz}

	.col-3 > p {font-size: $h2-fz*$ratio;}

	.link h2 {margin-top: $p-fz*2;}

	
	
}

@media (min-width: $lg-screen-breack-point) {
	
	h1 {font-size: $h2-fz*$ratio*1.5;}

	h2 {font-size: $h3-fz*$ratio*1.5;}

	p, li {font-size: $p-fz*1.5}

	.col-3 > p {font-size: $h2-fz*$ratio*1.5;}

	.link h2 {margin-top: $p-fz*3;}

	

	
}

@media (min-width: $xl-screen-breack-point) {
	
	h1 {font-size: $h2-fz*$ratio*1.5;}

	h2 {font-size: $h3-fz*$ratio*1.5;}

	p, li {font-size: $p-fz*1.5}

	.col-3 > p {font-size: $h2-fz*$ratio*1.5;}
	
	.link h2 {margin-top: $p-fz*3;}
	
	

	
}
