/**------------
 * GRID DEFINITION
 ------------*/

 $container-fluid-width:				100%;
 $container-width:						1170px;

 $gutter-width: 						1rem;

 $sm-screen-breack-point:				320px;
 $md-screen-breack-point:				640px;
 $lg-screen-breack-point:				980px;
 $xl-screen-breack-point:				1024px;

 $nbMaxColumns:							12;

 /**------------
 * COLORS
 ------------*/

 $color1:								 #fff; //blanc
 $color2:								#E1E1E1; //turquoise
 $color3:								#888888; //rose
 $color4:								#000000; //gris antracite
 $color5:								#22C7DA;
 $color6:								#D731CD;

 /**------------
 * FONT SIZES
 ------------*/

 $base-font-size:						14px;
 $ratio:								4/3;
 $p-fz:									1rem;
 $h6-fz:								0;
 $h5-fz:								0;
 $h4-fz:								0;
 $h3-fz:								$p-fz*$ratio;
 $h2-fz:								$h3-fz*$ratio;
 $h1-fz:								$h2-fz*$ratio;

 /**------------
 * OPTIONAL FILES
 ------------*/

 $use-grid-debug:							false;
