* {
	margin: 0;
}
p {
	background: #13EF32;
	
}
strong, a {
	background: orange;
}

/*
margin-top:50px;
margin-bottom:30px;
margin-left:20px;
margin-right:40px;

ou

margin:50px 40px 30px 20px; (meme chose que plus haut)
margin: 50px 40px; (50px pour top et bottom et 40 sur left et right)
margin :50px;(ici pour toute les marges)

même chose pour padding
*/