* {
	text-align: center;
}
header {
	background-color:grey;
	font-size: 0;
}

main {
	background: white;
	font-size: 0;
}
footer {
	background: grey;
	font-size: 0;
	padding: 1rem 0;
}

h1 {
	font-size: 2rem;
	padding: 0 1rem;
}

.column{
	display: inline-block;
	font-size: 1rem;
}

.inColumn	{
	padding: 0 1rem;
}

.w25	{width: 25%;}

.w75	{width: 75%;}

.w33	{width: 33.333%;}

.w50	{width: 50%;}

.cBlack	{color: black;}

.btn {
	background: grey;
	color: white;
	display: inline-block;
	border: 1px solid black;
	font-size: 1rem;
	padding: 1rem;
	margin: 1rem;
}

.btnContainer {
	text-align: center;
}
